
h3{
    margin: 1em 0;
}

form{
    margin-bottom: 1em;
}

.todo-container {
    margin-top: 10px;
    max-width: 500px;
    width: 100%;
    background-color: blueviolet;
    color: #260049;
}

.list-group-item{
    font-weight: bold;
}
.list-group-item:hover {
    background: #eef4f9;
}

input, .list-group-item{
    color: #220041 !important;
}
